<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright © Universitat Jaume I de Castelló 2015.
    Aquest programari es distribueix sota les condicions de llicència EUPL 
    o de qualsevol altra que la substituisca en el futur.
    La llicència completa es pot descarregar de 
    https://joinup.ec.europa.eu/community/eupl/og_page/european-union-public-licence-eupl-v11
 -->

<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="es.uji.control.sip.ui.product">
         <property
               name="appName"
               value="es.uji.control.sip.ui.product">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://es.uji.control.sip.ui/es.uji.control.sip.ui.E4LifeCycle">
         </property>
      </product>
   </extension>

</plugin>
