<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sip -->
      <package
            uri="http://sip/1.0"
            class="es.uji.control.sip.model.emf.sip.SipPackage"
            genModel="model/sip.genmodel"/>
   </extension>

</plugin>
